*~
*.iml
*.ipr
*.iws
.idea/libraries/*.xml
.idea/copyright/*.xml
.idea/ant.xml
.idea/compiler.xml
.idea/modules.xml
.idea/misc.xml
.idea/vcs.xml
.idea/.name
.idea/encodings.xml
.idea/workspace.xml
.idea/uiDesigner.xml
.idea/dictionaries/*
.idea/scopes/*
.idea/inspectionProfiles/*
target/*
hotspot.log
